{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Little Sister is watching you!{% endblock %}

{% block page_content %}

<!-- 顶层 -->
<div class="page-header">
    <h3>积分总排名
    </h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>小组排名</h4>
            
            <table class="table table-striped">
                <tread>
                    <tr>
                        <th>排名</th>
                        <th>小组</th>
                        <th>积分</th>
                    </tr>
                </tread>
                <tbody>
                    {% for i in range(5) %}
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ teamdict[sortteam[i][0]] }}组</td>
                        <td>{{ sortteam[i][1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>个人排名</h4>
                <table class="table table-striped">
                    <tread>
                        <tr>
                            <th>排名</th>
                            <th>学号</th>
                            <th>学员</th>
                            <th>小组</th>
                            <th>积分</th>
                        </tr>
                    </tread>
                    <tbody>
                        {% for i in range(10) %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ studentDict[sortrecord[i][0]][0] }}</td>
                            <td>{{ studentDict[sortrecord[i][0]][1] }}</td>
                            <td>{{ teamdict[studentDict[sortrecord[i][0]][2]] }}组</td>
                            <td>{{ sortrecord[i][1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
</div>

{% endblock %}
